.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 50px 170px;
}

.services-title {
  position: relative;
}

.services-title h1 {
  padding: 0 30px;
  font-size: 3rem;
  font-weight: 600;
  color: #3b82f6;
}

.services-title img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.services-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-bottom: 80px;
}

.services-format {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 60px;
  border-radius: 10px;
  border: 2px solid white;
  transition: 0.4s;
  cursor: pointer;
}

.services-format h3 {
  font-weight: 600;
  font-size: 2rem;
}

.services-format h2 {
  font-weight: 800;
  font-size: 1.8rem;
  background: linear-gradient(270deg, #3b82f6 80.56%, #ffffff 10.74%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.services-format p {
  color: #ffffff;
  font-size: 1.3rem;
  line-height: 40px;
  max-width: 300px;
  font-weight: 700;
}

.services-format:hover {
  border: 2px solid #3b82f6;
  /* background-image: linear-gradient(45deg, #94a3b8, #ffffff); */
  transform: scale(1.05);
  transition: 0.4s;
}

.services-readmore {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 20px;
}

.readmore-link {
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
}

.readmore-link:hover {
  color: #94a3b8;
}

@media (max-width: 1200px) {
  .services {
    margin: 50px 100px;
  }

  .services-container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }

  .services-format {
    padding: 40px;
  }

  .services-format h3 {
    font-size: 24px;
  }

  .services-format h2 {
    font-size: 32px;
  }

  .services-format p {
    font-size: 20px;
    line-height: 32px;
  }
}

@media (max-width: 992px) {
  .services {
    margin: 50px 50px;
  }

  .services-container {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .services-format {
    padding: 30px;
  }

  .services-format h3 {
    font-size: 22px;
  }

  .services-format h2 {
    font-size: 28px;
  }

  .services-format p {
    font-size: 18px;
    line-height: 28px;
  }
}

@media (max-width: 768px) {
  .services {
    margin: 50px 30px;
  }

  .services-title h1 {
    font-size: 2rem;
    align-items: flex-start;
  }

  .services-title img {
    width: 70%;
  }

  .services-format {
    padding: 30px;
  }

  .services-format h3 {
    font-size: 1.5rem;
  }

  .services-format h2 {
    font-size: 2rem;
  }

  .services-format p {
    font-size: 1rem;
    line-height: 18px;
  }

  .services-container {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

@media (max-width: 576px) {
  .services {
    margin: 50px 20px;
  }

  .services-title h1 {
    font-size: 2rem;
  }

  .services-title img {
    width: 60%;
  }

  .services-format {
    padding: 20px;
  }

  .services-format h3 {
    font-size: 1.2rem;
  }

  .services-format h2 {
    font-size: 1.5rem;
  }

  .services-format p {
    font-size: 1rem;
    line-height: 20px;
  }

  .services-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 400px) {
  .services {
    margin: 50px 10px;
  }

  .services-title h1 {
    font-size: 25px;
  }

  .services-title img {
    width: 60%;
  }

  .services-format {
    padding: 10px;
  }

  .services-format h3 {
    font-size: 1rem;
  }

  .services-format h2 {
    font-size: 1.1rem;
  }

  .services-format p {
    font-size: 0.8rem;
    line-height: 18px;
  }

  .services-container {
    grid-template-columns: 1fr;
    padding: 20px;
  }
}

/* @media (max-width: 768px) {
  .services {
    align-items: start;
    gap: 70px;
    margin: 20px 70px;
  }

  .services-title h1 {
    padding: 0;
    font-size: 35px;
  }

  .services-title img {
    width: 130px;
    margin-right: -20px;
  }

  .services-format {
    gap: 20px;
    padding: 32px;
  }

  .services-format h2 {
    font-size: 20px;
  }

  .services-format p {
    font-size: 18px;
    line-height: 32px;
    max-width: 300px;
  }

  .services-readmore img {
    width: 20px;
  }

  .services-container {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
} */

/* @media (min-width: 768px) {
  .services {
    gap: 70px;
    margin: 20px 70px;
    align-items: start;
  }

  .services-title h1 {
    padding: 0;
    font-size: 50px;
    align-items: start;
  }

  .services-title img {
    width: 130px;
    margin-right: -20px;
  }

  .services-container {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: start;
  }
} */
