.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}

.left-leaf {
  position: absolute;
  left: 0;
  bottom: -5rem;
}

.right-leaf {
  position: absolute;
  right: 0;
  top: 30%;
}

.profile-image {
  margin-top: 50px;
  border-radius: 20%;
  border: 2px solid #94a3b8;
  width: 20%;
  height: 300px;
}

.hero div {
  text-align: center;
}

.hero h1 {
  background: linear-gradient(270deg, #3b82f6 40.56%, #ffffff 60.74%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  font-weight: bold;
}

.hero h3 {
  text-align: center;
  width: 70%;
  font-size: 3rem;
  font-weight: 600;
  color: #3b82f6;
}

.hero-action {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 24px;
  font-weight: bolder;
  margin-bottom: 20px;
}

.hero-connect {
  padding: 0.5rem 1rem;
  border-radius: 50px;
  border: 1px solid #3b82f6;
  cursor: pointer;
}

.hero-connect:hover {
  border: 2px solid #fff;
}

.hero-resume {
  padding: 0.5rem 1rem;
  border-radius: 50px;
  border: 2px solid #fff;
  cursor: pointer;
}

.hero-resume:hover {
  border: 1px solid #3b82f6;
}

@media (max-width: 1200px) {
  .hero h3 {
    font-size: 3rem;
  }

  .hero-action {
    font-size: 1.5rem;
  }
}

@media (max-width: 992px) {
  .profile-image {
    width: 25%;
  }

  .hero h3 {
    font-size: 3rem;
    width: 80%;
  }

  .hero-action {
    gap: 20px;
  }

  .hero-connect,
  .hero-resume {
    text-align: center;
  }

  .left-leaf,
  .right-leaf {
    display: none;
  }
}

@media (max-width: 768px) {
  .profile-image {
    width: 20%;
    margin-top: 100px;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .hero h3 {
    font-size: 2.5rem;
    width: 90%;
  }

  .hero-action {
    font-size: 1.7rem;
  }

  .left-leaf,
  .right-leaf {
    display: none;
  }
}

@media (max-width: 576px) {
  .profile-image {
    width: 25%;
    margin-top: 80px;
  }

  .hero h1 {
    font-size: 1.5rem;
  }

  .hero h3 {
    font-size: 1.5rem;
    width: 100%;
  }

  .hero-action {
    font-size: 1rem;
    gap: 15px;
  }

  .hero-connect,
  .hero-resume {
    padding: 1rem 2rem;
  }

  .left-leaf,
  .right-leaf {
    display: none;
  }
}

@media (max-width: 400px) {
  .profile-image {
    width: 30%;
    margin-top: 60px;
  }

  .hero h1 {
    font-size: 1.2rem;
  }

  .hero h3 {
    font-size: 1.5rem;
  }

  .hero-action {
    font-size: 14px;
    gap: 10px;
  }

  .hero-connect,
  .hero-resume {
    padding: 0.75rem 1.5rem;
  }

  .left-leaf,
  .right-leaf {
    display: none;
  }
}
