.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}

.left-leaf {
  position: absolute;
  left: 0;
  /* width: ; */
  bottom: -5rem;
}

.right-leaf {
  position: absolute;
  right: 0;
  /* width: 6rem; */
  top: 30%;
}

.profile-image {
  margin-top: 150px;
  border-radius: 50%;
  border: 2px solid #94a3b8;
  width: 10%;
}

.hero div {
  text-align: center;
  margin-top: 10px;
}

.hero h1 {
  background: linear-gradient(270deg, #3b82f6 40.56%, #ffffff 60.74%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  font-weight: bold;
}

.hero h3 {
  text-align: center;
  width: 70%;
  font-size: 3rem;
  font-weight: 600;
  color: #3b82f6;
}

/* .hero h3 span {
  background: linear-gradient(270deg, #3b82f6 40.56%, #ffffff 60.74%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

.hero-action {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 24px;
  font-weight: bolder;
  margin-bottom: 50px;
}

.hero-connect {
  padding: 1.5625rem 1.5625rem;
  border-radius: 50px;
  border: 1px solid #3b82f6;
  /* background: linear-gradient(264deg, #ffffff -5.09%, #3b82f6 106.28%); */
  cursor: pointer;
}

.hero-connect:hover {
  border: 2px solid #fff;
}

.hero-resume {
  padding: 1.5625rem 4.6875rem;
  border-radius: 50px;
  border: 2px solid #fff;
  cursor: pointer;
}

.hero-resume:hover {
  border: 1px solid #3b82f6;

  /* background: #02c3bd; */
}

@media (max-width: 1200px) {
  .hero h3 {
    font-size: 3rem;
  }

  .hero-action {
    font-size: 1.5rem;
  }
}

@media (max-width: 992px) {
  .profile-image {
    width: 25%;
  }

  .hero h3 {
    font-size: 3rem;
    width: 80%;
  }

  .hero-action {
    gap: 20px;
  }

  .hero-connect,
  .hero-resume {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .profile-image {
    width: 20%;
    margin-top: 100px;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .hero h3 {
    font-size: 2.5rem;
    width: 90%;
  }

  .hero-action {
    font-size: 1.7rem;
  }

  .left-leaf,
  .right-leaf {
    display: none;
  }
}

@media (max-width: 576px) {
  .profile-image {
    width: 25%;
    margin-top: 80px;
  }

  .hero h1 {
    font-size: 1.5rem;
  }

  .hero h3 {
    font-size: 1.5rem;
    width: 100%;
  }

  .hero-action {
    font-size: 1rem;
    gap: 15px;
  }

  .hero-connect,
  .hero-resume {
    padding: 1rem 2rem;
  }

  .left-leaf,
  .right-leaf {
    display: none;
  }
}

@media (max-width: 400px) {
  .profile-image {
    width: 30%;
    margin-top: 60px;
  }

  .hero h1 {
    font-size: 1.2rem;
  }

  .hero h3 {
    font-size: 1.5rem;
  }

  .hero-action {
    font-size: 14px;
    gap: 10px;
  }

  .hero-connect,
  .hero-resume {
    padding: 0.75rem 1.5rem;
  }

  .left-leaf,
  .right-leaf {
    display: none;
  }
}

/* @media (max-width: 768px) {
  .hero img {
    margin-top: 120px;
    width: 200px;
  }

  .hero h1 {
    margin-top: 50px;
    width: 90%;
    font-size: 50px;
  }

  .hero-action {
    gap: 16px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 50px;
  }

  .hero-connect {
    padding: 20px 30px;
    border-radius: 40px;
  }

  .hero-resume {
    padding: 20px 50px;
    border-radius: 40px;
  }
} */

/* @media (min-width: 768px) {
  .hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
  }

  .hero img {
    margin-top: 150px;
    border-radius: 50%;
    border: 2px solid white;
    width: 10%;
  }

  .hero h1 {
    text-align: center;
    width: 70%;
    font-size: 50px;
    font-weight: 500;
  }

  .hero h1 span {
    background: linear-gradient(270deg, #df8908 10%, #b415ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .hero p {
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
  }

  .hero-action {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500px;
    margin-bottom: 50px;
  }

  .hero-connect {
    padding: 1.5625rem 1.5625rem;
    border-radius: 50px;
    background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
    cursor: pointer;
  }

  .hero-connect:hover {
    border: 2px solid #fff;
  }

  .hero-resume {
    padding: 1.5625rem 4.6875rem;
    border-radius: 50px;
    border: 2px solid #fff;
    cursor: pointer;
  }

  .hero-resume:hover {
    background: #b415ff;
  }
} */
