.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  /* background: linear-gradient(270deg, #02c3bd 40.56%, #bccce0 60.74%); */
}

.navbar img {
  width: 100%;
  max-width: 100px;
  height: auto;
  margin-left: 3rem;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 3.75rem;
  font-size: 1.5rem;
  margin: 0 5rem;
}

.nav-menu.open {
  right: 0;
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.nav-menu li img {
  display: flex;
  margin: auto;
}

.anchor-link {
  text-decoration: none;
  color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.nav-menu-open {
  animation: fadeIn 0.3s ease-in-out forwards;
  display: none;
}

.nav-menu-close {
  animation: fadeIn 0.3s ease-in-out forwards;
}

.nav-menu-close {
  opacity: 0;
  transform: translateY(-10px);
}

.nav-menu.open .nav-menu-close {
  opacity: 1;
  transform: translateY(0);
}

.nav-men.open ~ .nav-menu-open {
  animation: fadeOut 0.3s ease-in-out forwards;
  pointer-events: none;
}

@media (max-width: 1200px) {
  .navbar {
    margin: 1.25rem 5rem;
  }

  .navbar img {
    margin-left: 0;
  }

  .nav-menu {
    gap: 2.5rem;
    font-size: 1.25rem;
    margin: 0 auto;
  }
}

@media (max-width: 992px) {
  .navbar {
    margin: 0 auto;
  }

  .nav-menu {
    gap: 2rem;
    font-size: 1.1rem;
    margin: 0 auto;
  }

  .navbar img {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .navbar {
    margin: 0 auto;
  }

  .navbar img {
    margin-left: 0;
  }

  .nav-menu {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 50%;
    background-color: #bccce0;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    gap: 2.5rem;
    font-size: 1.5rem;
    transition: right 0.3s ease-in-out;
  }

  .nav-menu.open {
    right: 0;
  }

  .nav-menu li {
    align-items: center;
  }

  .nav-menu-close {
    display: block;
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    cursor: pointer;
  }

  .nav-menu-open {
    display: block;
    cursor: pointer;
  }
}

@media (max-width: 576px) {
  .navbar {
    margin: 0 auto;
  }

  .navbar img {
    max-width: 80px;
    margin-left: 0;
  }

  .nav-menu {
    width: 60%;
    margin: 0 auto;
  }

  .nav-menu-close {
    top: 1rem;
    right: 1rem;
  }
}

@media (max-width: 400px) {
  .navbar img {
    max-width: 80px;
    margin-left: 0;
  }

  .nav-menu {
    width: 60%;
    margin: 0 auto;
  }
}
