.project-details {
  padding: 20px;
  width: 800px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  background-color: #3b82f6;
}

.back-button {
  padding: 10px 20px;
  background-color: #94a3b8;

  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 20px;
}

.back-button:hover {
  border: 2px solid #94a3b8;
}

.actions {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.action-button {
  padding: 10px 20px;
  background-color: #94a3b8;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  flex: 1;
  text-align: center;
  cursor: pointer;
}

.action-button:hover {
  border: 2px solid #94a3b8;
}

.typewriter-container {
  margin-bottom: 20px;
}

.section {
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.project-name {
  background-color: #94a3b8;
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
}

.project-description {
  background-color: #94a3b8;
  color: #fff;
  font-size: 1.1rem;
  line-height: 1.6;
}

.technologies-used h3,
.key-features h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.technologies-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 5px;
}

.technology {
  background-color: #94a3b8;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1.1rem;
  margin-top: 10px;
}

.key-features ul {
  list-style-type: none;
  padding: 0;
}

.key-features li {
  background-color: #94a3b8;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 1rem;
}

/* Responsive Design */
@media (max-width: 768px) {
  .actions {
    flex-direction: column;
  }

  .action-button {
    width: 100%;
  }
}
