* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  /* background: linear-gradient(270deg, #1a1a1a, #0d0d0d); */
  /* background: linear-gradient(410deg, #0f172a 20%, #02c3bd 80%, #bccce0 20%); */
  background: linear-gradient(
    210deg,
    #0f172a 10%,
    #1e293b 70%,
    #bccce0 100%
  ); /* background-color: #0f172a; */
  color: white;
  font-family: "outfit";
}
