@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  background: url("/src/images/noise.png");
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  /* color: white; */
  font-family: "outfit";
  overflow-x: hidden;
}

.text-shadow {
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}
.text-shadow-blue {
  text-shadow: 0 0 10px rgba(59, 130, 246, 0.8);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
